body {
   font-family: sans-serif;
   margin: 0;
   padding: 20px;
   background-color: #f4f4f4;
}

table {
   border-collapse: collapse;
   margin: 20px 0;
   width: 100%;
   max-width: 600px;
}

th {
   width: 50px;
   height: 50px;
   background: rgba(255, 0, 0.37, 0.8);
   border: 1px solid rgb(0, 0, 0);
   position: relative;
   cursor: grab;
}

.b {
   background: black;
   cursor: not-allowed;
}

.w {
   background: white;
}

.w:hover {
   background: lightblue !important;
}

th span {
   font-size: 15px;
   position: absolute;
   top: 0;
   left: 0;
}

th b {
   font-size: 40px;
   color: rgb(0, 0, 0);
}

button {
   width: 100%;
   max-width: 200px;
   height: 60px;
   margin: 15px auto;
   background: rgb(102, 229, 38);
   border: none;
   cursor: pointer;
   transition: background 1s;
}

button:hover {
   background: green;
   color: white;
}

section {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 20px;
}

.across, .down {
   flex: 1;
   min-width: 250px;
   padding: 10px;
   box-sizing: border-box;
   background: white;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin: 10px;
}

li {
   list-style: none;
   font-weight: 600;
   font-size: 15px;
   margin: 5px 0;
   padding: 4px;
}

h2 {
   font-weight: bold;
   border-bottom: 5px double black;
   padding-left: 15px;
}

#warningMessage, #score {
   margin-top: 10px;
   color: red;
}

@media (max-width: 600px) {
   button {
      width: 100%;
   }

   th b{
      font-size: 20px;
   }
}